$brand-primary: #26A69A !default
$brand-success: green !default
$brand-danger: red !default
$font-size: 16px
$font-size-minimized: 14px
// $brand-warning: orange !default
$brand-info: #9E9E9E !default
$border-size: 1px solid

@function strip-unit($value)
	@return $value / ($value * 0 + 1)

@function convertPxToEm($value)
	@return (strip-unit($value)/strip-unit($font-size)) * 1em

.input-field
    position: relative
    margin-top: 1rem
    margin-bottom: 0.5rem
    display: flex
    height: convertPxToEm(55px)

.input-field>input[type="text"],
    background-color: transparent
    border-width: medium medium 1px
    border-style: none none solid
    border-color: -moz-use-text-color $brand-info
	    -moz-border-top-colors: none
	    -moz-border-right-colors: none
	    -moz-border-bottom-colors: none
	    -moz-border-left-colors: none
    border-image: none
    border-radius: 0px
    outline: medium none
    width: 100%
    font-size: $font-size
    margin: 5px 0px 20px
    box-shadow: none
    transition: all 0.3s ease 0s
    &:focus, &.notEmpty
        border-bottom: $border-size $brand-primary
        box-shadow: 0px 1px 0px 0px $brand-primary
    &.has-success,  &[required]:valid
        border-bottom: $border-size $brand-success
        box-shadow: 0px 1px 0px 0px $brand-success
    &.has-error
        border-bottom: $border-size $brand-danger
        box-shadow: 0px 1px 0px 0px $brand-danger

.input-field>input[type="text"].isEmpty + label, .input-field>input[required]:invalid + label,.input-field>input[type="text"] + label
    transform: translateY(0%)
    color: $brand-info
    position: absolute
    top: 0.8rem
    left: 0
    font-size: $font-size
    cursor: text
    transition: all 0.3s ease-out 0s


.input-field>input[type="text"]:focus + label,.input-field>input[type="text"].notEmpty + label,.input-field>input[type="text"].has-error + label, .input-field>input[type="text"].has-success + label, .input-field>input[required]:valid + label
    font-size: $font-size-minimized
    transform: translateY(-140%)

.input-field>input[type="text"].has-success + label, .input-field>input[type="text"][required]:valid + label
    &:after
        content: attr(data-success)
        color: $brand-success
        position: absolute
        top: convertPxToEm(50px)
        left: 0
        transition: all 0.2s ease-out 0s

.input-field>input[type="text"].has-error + label, .input-field>input[type="text"][required]:invalid + label
    &:after
        content: attr(data-error)
        color: $brand-danger
        position: absolute
        top: convertPxToEm(50px)
        left: 0
        transition: all 0.2s ease-out 0s

.input-field>input[type="text"]:focus + label
    color: $brand-primary
