*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container,
.container-fixed,
.row {
  *zoom: 1; }
  .container:before,
  .container-fixed:before,
  .row:before, .container:after,
  .container-fixed:after,
  .row:after {
    content: " ";
    display: table; }
  .container:after,
  .container-fixed:after,
  .row:after {
    clear: both; }

.container-fixed {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-device-width: 480px) {
    .container-fixed {
      width: 480px; } }
  @media (min-device-width: 768px) {
    .container-fixed {
      width: 768px; } }
  @media (min-device-width: 992px) {
    .container-fixed {
      width: 992px; } }
  @media (min-device-width: 1200px) {
    .container-fixed {
      width: 1200px; } }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 90%; }

.row {
  padding-left: -15px;
  padding-right: -15px; }

.pad, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

@media all and (min-device-width: 480px) {
  .col-xs-1 {
    float: left;
    width: 8.33333%; }
  .col-offset-xs-1 {
    margin-left: 8.33333%; }
  .col-xs-2 {
    float: left;
    width: 16.66667%; }
  .col-offset-xs-2 {
    margin-left: 16.66667%; }
  .col-xs-3 {
    float: left;
    width: 25%; }
  .col-offset-xs-3 {
    margin-left: 25%; }
  .col-xs-4 {
    float: left;
    width: 33.33333%; }
  .col-offset-xs-4 {
    margin-left: 33.33333%; }
  .col-xs-5 {
    float: left;
    width: 41.66667%; }
  .col-offset-xs-5 {
    margin-left: 41.66667%; }
  .col-xs-6 {
    float: left;
    width: 50%; }
  .col-offset-xs-6 {
    margin-left: 50%; }
  .col-xs-7 {
    float: left;
    width: 58.33333%; }
  .col-offset-xs-7 {
    margin-left: 58.33333%; }
  .col-xs-8 {
    float: left;
    width: 66.66667%; }
  .col-offset-xs-8 {
    margin-left: 66.66667%; }
  .col-xs-9 {
    float: left;
    width: 75%; }
  .col-offset-xs-9 {
    margin-left: 75%; }
  .col-xs-10 {
    float: left;
    width: 83.33333%; }
  .col-offset-xs-10 {
    margin-left: 83.33333%; }
  .col-xs-11 {
    float: left;
    width: 91.66667%; }
  .col-offset-xs-11 {
    margin-left: 91.66667%; }
  .col-xs-12 {
    float: left;
    width: 100%; }
  .col-offset-xs-12 {
    margin-left: 100%; } }

@media all and (min-device-width: 768px) {
  .col-sm-1 {
    float: left;
    width: 8.33333%; }
  .col-offset-sm-1 {
    margin-left: 8.33333%; }
  .col-sm-2 {
    float: left;
    width: 16.66667%; }
  .col-offset-sm-2 {
    margin-left: 16.66667%; }
  .col-sm-3 {
    float: left;
    width: 25%; }
  .col-offset-sm-3 {
    margin-left: 25%; }
  .col-sm-4 {
    float: left;
    width: 33.33333%; }
  .col-offset-sm-4 {
    margin-left: 33.33333%; }
  .col-sm-5 {
    float: left;
    width: 41.66667%; }
  .col-offset-sm-5 {
    margin-left: 41.66667%; }
  .col-sm-6 {
    float: left;
    width: 50%; }
  .col-offset-sm-6 {
    margin-left: 50%; }
  .col-sm-7 {
    float: left;
    width: 58.33333%; }
  .col-offset-sm-7 {
    margin-left: 58.33333%; }
  .col-sm-8 {
    float: left;
    width: 66.66667%; }
  .col-offset-sm-8 {
    margin-left: 66.66667%; }
  .col-sm-9 {
    float: left;
    width: 75%; }
  .col-offset-sm-9 {
    margin-left: 75%; }
  .col-sm-10 {
    float: left;
    width: 83.33333%; }
  .col-offset-sm-10 {
    margin-left: 83.33333%; }
  .col-sm-11 {
    float: left;
    width: 91.66667%; }
  .col-offset-sm-11 {
    margin-left: 91.66667%; }
  .col-sm-12 {
    float: left;
    width: 100%; }
  .col-offset-sm-12 {
    margin-left: 100%; } }

@media all and (min-device-width: 992px) {
  .col-md-1 {
    float: left;
    width: 8.33333%; }
  .col-offset-md-1 {
    margin-left: 8.33333%; }
  .col-md-2 {
    float: left;
    width: 16.66667%; }
  .col-offset-md-2 {
    margin-left: 16.66667%; }
  .col-md-3 {
    float: left;
    width: 25%; }
  .col-offset-md-3 {
    margin-left: 25%; }
  .col-md-4 {
    float: left;
    width: 33.33333%; }
  .col-offset-md-4 {
    margin-left: 33.33333%; }
  .col-md-5 {
    float: left;
    width: 41.66667%; }
  .col-offset-md-5 {
    margin-left: 41.66667%; }
  .col-md-6 {
    float: left;
    width: 50%; }
  .col-offset-md-6 {
    margin-left: 50%; }
  .col-md-7 {
    float: left;
    width: 58.33333%; }
  .col-offset-md-7 {
    margin-left: 58.33333%; }
  .col-md-8 {
    float: left;
    width: 66.66667%; }
  .col-offset-md-8 {
    margin-left: 66.66667%; }
  .col-md-9 {
    float: left;
    width: 75%; }
  .col-offset-md-9 {
    margin-left: 75%; }
  .col-md-10 {
    float: left;
    width: 83.33333%; }
  .col-offset-md-10 {
    margin-left: 83.33333%; }
  .col-md-11 {
    float: left;
    width: 91.66667%; }
  .col-offset-md-11 {
    margin-left: 91.66667%; }
  .col-md-12 {
    float: left;
    width: 100%; }
  .col-offset-md-12 {
    margin-left: 100%; } }

@media all and (min-device-width: 1200px) {
  .col-lg-1 {
    float: left;
    width: 8.33333%; }
  .col-offset-lg-1 {
    margin-left: 8.33333%; }
  .col-lg-2 {
    float: left;
    width: 16.66667%; }
  .col-offset-lg-2 {
    margin-left: 16.66667%; }
  .col-lg-3 {
    float: left;
    width: 25%; }
  .col-offset-lg-3 {
    margin-left: 25%; }
  .col-lg-4 {
    float: left;
    width: 33.33333%; }
  .col-offset-lg-4 {
    margin-left: 33.33333%; }
  .col-lg-5 {
    float: left;
    width: 41.66667%; }
  .col-offset-lg-5 {
    margin-left: 41.66667%; }
  .col-lg-6 {
    float: left;
    width: 50%; }
  .col-offset-lg-6 {
    margin-left: 50%; }
  .col-lg-7 {
    float: left;
    width: 58.33333%; }
  .col-offset-lg-7 {
    margin-left: 58.33333%; }
  .col-lg-8 {
    float: left;
    width: 66.66667%; }
  .col-offset-lg-8 {
    margin-left: 66.66667%; }
  .col-lg-9 {
    float: left;
    width: 75%; }
  .col-offset-lg-9 {
    margin-left: 75%; }
  .col-lg-10 {
    float: left;
    width: 83.33333%; }
  .col-offset-lg-10 {
    margin-left: 83.33333%; }
  .col-lg-11 {
    float: left;
    width: 91.66667%; }
  .col-offset-lg-11 {
    margin-left: 91.66667%; }
  .col-lg-12 {
    float: left;
    width: 100%; }
  .col-offset-lg-12 {
    margin-left: 100%; } }
